* {
  font-family: monospace;
}

.pokemon-card {
  width:auto;
  display: grid;
  padding: 100px;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  grid-gap: 55px;
}

.pokemon-card .box {
  width: 100%;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.432);
  border-radius: 5px;
}

.spinner {
  width:100px;
  height:100px;
  border-radius: 100%;
  animation: spin 2s linear infinite;
  margin: auto;
  margin-top: 10%;
  position: relative;
}

@keyframes spin{
  0%{
      background:transparent;
      transform: rotate(720deg); 
  }
}

.fire {
  background-color: red;
}

.water {
  background-color: blue;
}

.bug {
  background-color: rgb(115, 255, 0);
}

.electric {
  background-color: yellow;
}

.grass {
  background-color:green;
}

.normal {
  background-color: #9b9a9a;
}

.flying {
  background-color: rgba(255, 255, 0, 0.432);
}

.poison {
  background-color: purple;
}